//
// Scaffolding
// --------------------------------------------------

// Body reset
// -------------------------

html
  height: 100%
  font-size: $baseFontSize

body
  margin: 0
  font-family: $baseFontFamily
  font-size: 1.25rem
  font-weight: 300
  line-height: 1.75rem
  color: $textColor
  height: 100%
  margin: 0
  background-color: $bodyBackground
  //+filter-gradient($white, $bodyBackground, horizontal)
  //+background-image(radial-gradient(top, circle cover, $white, $bodyBackground))
  background-repeat: no-repeat
  background-attachment: fixed


  @media (min-width: $bran)
    font-size: 1.25rem
    line-height: 1.85rem


*
  +box-sizing(border-box)

// Links
// -------------------------

a
  +single-transition
  color: $linkColor
  text-decoration: none
  font-weight: bold

a:hover
  color: $linkColorHover
  text-decoration: underline

// Images
// -------------------------

// Rounded corners
.img-rounded
  +ctb-border-radius(6px)

// Add polaroid-esque trim
.img-polaroid
  padding: 4px
  background-color: #fff
  border: 1px solid #ccc
  border: 1px solid rgba(0, 0, 0, 0.2)
  +ctb-box-shadow(0 1px 3px rgba(0, 0, 0, 0.1))

// Perfect circle
.img-circle
  +ctb-border-radius(500px)
  // crank the border-radius so it works with most reasonably sized images

header
  +clearfix
  padding: 0
  @media (min-width: $arya)
    width: $arya - 2
    padding: 1rem
    margin: 0 auto

.logo,
nav
  +clearfix
  font-size: 2rem
  line-height: 2rem
  padding: 0
  margin: 1rem 0
  display: block
  text-align: center
  overflow: visible

.logo
  font-weight: bold
  color: $socialColor
  +text-shadow
  &:hover
    color: $green
  @media (min-width: $arya)
    float: left

nav
  a
    padding: 0

  @media (min-width: $arya)
    float: right


.banner
  +text-shadow
  font-size: 2.5rem
  font-weight: bold
  line-height: 2.5rem
  padding: 2rem 1rem
  text-align: center
  text-rendering: optimizelegibility
  @media (min-width: $arya)
    font-size: 3rem
    line-height: 3rem
    padding: 2rem 10%



$contentWidth: $arya
.main
  width: 100%
  padding: 1rem
  @media (min-width: $bran)
    padding: 2rem
    width: $bran
    margin: 0 auto
  @media (min-width: $arya)
    width: $arya

.entries
  @extend ul.unstyled
  li
    margin: 2rem
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
  h3,
  h6
    text-align: center
    margin: 0
  h3
    line-height: 1.75rem
    font-size: 1.75rem
  h6
    font-weight: normal
    color: $bodyBackground - 40

.cp_embed_iframe
  width: 100%
  @media (min-width: $arya + 4)
    width: $arya + 4 !important
    margin-left: -4rem
  @media (min-width: $arya + 8)
    width: $arya + 8 !important
    margin-left: -6rem
  @media (min-width: $arya + 16)
    width: $arya + 16 !important
    margin-left: -10rem
  @media (min-width: $arya + 32)
    width: $arya + 24 !important
    margin-left: -14rem